

@tailwind base;
@tailwind components;
@tailwind utilities;


a:-webkit-any-link {
    color: inherit;  /* Removes the default link color */
    text-decoration: none;
    cursor: auto;    /* Reset cursor to default (or use `cursor: default` if needed) */
}